:root{

    /*COLORS :*/

    --sonic-silver: hsl(0, 0%, 46%);
--spanish-gray: hsl(0, 0%, 60%);
--theme-color: hsl(10, 100%, 57%);
--light-gray: hsl(0, 0%, 80%);
--gray-x-11: hsl(0, 0%, 73%);
--dim-gray: hsl(0, 0%, 44%);
--cultured: hsl(0, 0%, 98%);
--black_10: hsl(0, 0%, 0%, 0.1);
--black_20: hsl(0, 0%, 0%, 0.2);
--black_30: hsl(0, 0%, 0%, 0.3);
--black_70: hsl(0, 0%, 0%, 0.7);
--white_10: hsl(0, 0%, 100%, 0.1);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);

/*TYPOGRAPHY : */

--ff-poppins: 'Poppins', sans-serif;
--ff-mulish: 'Mulish', sans-serif;

--fs-35: 3.5rem;
--fs-30: 3rem;
--fs-25: 2.5rem;
--fs-18: 1.8rem;
--fs-17: 1.7rem;
--fs-13: 1.3rem;

--fw-800: 800;
--fw-700: 700;
--fw-600: 600;
--fw-500: 500;
--fw-400: 400;

/*Section, shadow,radius ,transition*/

--section-padding: 10px;
--shadow: 0 0 20px hsla(0, 0%, 0%, 0.08);
--radius-10: 10px;
--radius-8: 8px;

--transition: 0.25s ease;
--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*Global Settings */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
img,
span,
button,
ion-icon{
    display: block;
}

a{
    text-decoration: none;
    font:inherit;
}

li{
    list-style: none;
}

button{
    border:none;
    background: none;
    cursor: pointer;
}

ion-icon{
    pointer-events: none;
}
body{
    font-size: 10px;
    font-family: var(--ff-poppins);
    line-height: 1.2;
    background-color: var(--white);
    height: 300vh;
    
}
html{
    font-weight: var(--fw-500);
    color:var(--sonic-silver);
    scroll-behavior: smooth;
}

/*REUSED STYLE*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    color:var(--black);
}
.h1,
.h2{
    font-size: var(--fs-18);
    font-weight: var(--fw-700);
}
.h3,
.h4
{
    font-size: var(--fs-17);
    font-weight: var(--fw-600);
}
.h5,
.h6{
    font-size: var(--fs-13);
    font-weight: var(--fw-400);
}
.line{
    width: 10px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--black);
    transition: var(--transition);
}
.middle{
    width: 20px;
}
.bottom{
    margin-left:auto;
}
.container{
    padding-inline: 10px;
}
.section{
    padding-inline:10px;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/*----
HEADER
---------------*/

.header{
    padding-block:20px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    border-block-end: 1px solid var(--black_10);
    z-index: 4;
    background-color: var(--white);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.active{
    position: fixed;
    top:-86px;
    background-color: var(--white);
    animation: scrllDwn 0.5s ease-out forwards;
}
@keyframes scrllDwn{
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}
.btn-toggle-menu{
    display: grid;
    gap:4px;
}
.navbar{
    position: absolute;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    width: calc(100% - 45px);
    top: calc(100% + 1px);
    transition: var(--transition);
}
.navbar.active{
    height: 180px;
    visibility: visible;
    overflow: hidden;
    background-color: var(--white);
}
.nav-list{
   margin-block:10px;
}
.nav-item{
    padding-block-end:10px;
}
.nav-item-link{
    font-family: var(--ff-mulish);
    font-size: var(--fs-13);
    line-height: 0.8;
    font-weight: var(--fw-500);
    transition: var(--transition);
    padding: 10px 15px;
    color:var(--black);
}
.nav-item-link:is(:hover,:focus-within){
    color:var(--theme-color);
}


/*-----
HERO SECTION
-----------------*/

.hero{
    position: relative;
    padding-top: 180px;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.figure-banner{
    max-height: 500px;
    margin-inline: auto;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.figure-banner img{    
    border-radius: 10px;
    margin-left:60px;  
}
.figure-bck{
    position: absolute;
    transform: rotate(-45deg);
    border-radius: 10px;
    background-color: var(--theme-color);
    content: "";
    height: 320px;
    width: 240px;
    top:0;
    left:0;
    z-index: -1;
}

.hero-subtitle{
    margin-block: 10px;
    color:var(--theme-color);
    font-size: var(--fs-13);
}

.hero-title{
    margin-block: 10px;
    color:var(--black);
    font-size: 2.8rem;
    max-width: 18ch;
    letter-spacing: -1px;
}
.hero-list{
    margin-block:10px;    
}

.hero-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin-block:14px;
    font-size: var(--fs-13);
    color:var(--black);
    transition: var(--transition);
    cursor: pointer;
}

.hero-item:is(:hover,:focus-visible){
    color:var(--theme-color);
}
.hero-item ion-icon{
    transition: var(--transition);
}
.hero-item:is(:hover,:focus-visible) ion-icon{
    transform: rotate(-45deg);
} 

/*-----
PORTFOLIO SECTION
-----------------------*/

.portfolio{
    position: relative;
    padding-top:100px;
}
.portfolio-list{
    margin-block:20px;
    display: grid;
     gap:40px;
}
.portfolio-item{   
    margin-inline: 10px;
}
.hover-img img{
    transition: var(--transition);
    transform: scale(1);
    border-radius: 20px;
    margin-inline: auto;
}
.hover-img{
    position: relative;
    transition: var(--transition);
    width: 340px;
    height: 400px;
    cursor: pointer;
}
.hover-img::after{
    position: absolute;
    top:0;
    left: 0;
    content: "";
    width: 340px;
    height: 400px;
    transition: var(--transition);
    border-radius: 20px;
    
}
.hover-img:hover::after{
    background-color: var(--black_70);
    transform: scale(1.05);
}
.hover-img:hover img{
    transform: scale(1.05);
}

/*----
SKILLS SECTION
---------------*/

.skills{
    position: relative;
    padding-top:180px;
}

.skills .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    font-family: var(--ff-mulish);
    font-size: var(--fs-13);
    color:var(--black);
    margin-block: 14px;
    max-width: 34ch;
}

.skills-list{
    margin-block:10px;
}

.skills-item {
    font-size: var(--fs-13);
    margin-block-end: 26px;
    position: relative;
    color:var(--black);

}
.skills-progress{
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: green;
    position: absolute;
    top:30px;
    left:0;
}
.skills-item .progress-fill{
    width: 80%;
    height: 4px;
    background-color: var(--theme-color);
    border-radius: 10px;
    position: absolute;
    top:30px;
    left:0;
}
.skills-item .progress-fill_cs{
    width: 60%;
    height: 4px;
    background-color: var(--theme-color);
    border-radius: 10px;
    position: absolute;
    top:30px;
    left:0;
}
.skills-item .progress-fill_js{
    width: 20%;
    height: 4px;
    background-color: var(--theme-color);
    border-radius: 10px;
    position: absolute;
    top:30px;
    left:0;

}

