/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(210, 26%, 7%);
  --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
  --independence_30: hsla(245, 17%, 29%, 0.3);
  --gray-x-11-gray: hsl(0, 0%, 73%);
  --champagne-pink: hsl(23, 61%, 86%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --deep-saffron: hsl(32, 100%, 59%);
  --dark-orange: hsl(28, 100%, 58%);
  --desert-sand: hsl(23, 49%, 82%);
  --isabelline: hsl(38, 44%, 96%);
  --gainsboro: hsl(0, 0%, 87%);
  --tangerine: hsl(31, 84%, 50%);
  --cinnabar: hsl(3, 90%, 55%);
  --black_95: hsla(0, 0%, 0%, 0.95);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --ff-shadows-into-light: 'Shadows Into Light', cursive;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-1: 3.2rem;
  --fs-2: 2.2rem;
  --fs-3: 1.8rem;
  --fs-4: 1.4rem;
  --fs-5: 1.2rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * shadow
   */

  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 1px 2px hsla(0, 0%, 0%, 0.2);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;

  /**
   * clip path
   */

  --clip-path-1: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
  --clip-path-2: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
svg,
span,
input,
select,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-roboto);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}
.w-100{
  width: 100%;
}

body.active { overflow: hidden; }

:focus-visible { outline-offset: 4px; }

::selection {
  background-color: var(--deep-saffron);
  color: var(--white);
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: var(--cultured); }

::-webkit-scrollbar-thumb { background-color: var(--deep-saffron); }

::-webkit-scrollbar-thumb:hover { background-color: var(--tangerine); }


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.h1,
.h2,
.h3,
.h4 {
  font-family: var(--ff-rubik);
  color: var(--rich-black-fogra-29);
  line-height: 1.2;
  letter-spacing: -1px;
}

.h1,
.h2 { font-size: var(--fs-1); }

.h2,
.h3,
.h4 { font-weight: var(--fw-600); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-3); }

.section{
  padding-block: var(--section-padding);
}

.has_scrollbar{
  display: flex;
  gap:10px;
  scroll-snap-type: inline mandatory;
  padding-block-end:40px;
  overflow-x: auto;
}

.has_scrollbar::-webkit-scrollbar {height: 12px;}
.has_scrollbar::-webkit-scrollbar-button{width: calc(25% - 40px);}
.has_scrollbar::-webkit-scrollbar-thumb
{
  border:3px solid var(--cultured);
  border-radius: 50px;
}
.has_scrollbar::-webkit-scrollbar-track{
  outline:2px solid var(--deep-saffron);
  border-radius: 50px;
}

.btn{
  font-family: var(--ff-rubik);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  padding: 10px 30px;
    color:var(--white);
  background-color: var(--bg-color,var(--deep-saffron));
}

.btn_hover{
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn_hover::after{
  position: absolute;
  content:"";
  z-index: -1;
  bottom: -1px;
  left:20px;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  
  background-color: var(--rich-black-fogra-29);
  transition: var(--transition-2);
  transform: scale(var(--scale,1));
}
.btn_hover:is(:hover,:focus-within)::after{
  --scale:500;
}
.title{
  font-family: var(--ff-rubik);
  font-size: 3.8rem;
  letter-spacing: -1px;
  line-height: 1.2;
  padding-block: 10px;
  
  color:var(--rich-black-fogra-29);
}
.title .span{
  color: var(--deep-saffron);
  display: inline-block;
}
.text{
  font-family: var(--ff-rubik);
  font-size: var(--fs-3);
  color:var(--sonic-silver);
}
/*---
HEADER SECTION
-----------------------*/
.head{
  position: absolute;
  content: "";
  top:0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  background-color: var(--white);
  border-block-end: 1px solid var(--shadow-2);
  transition: var(--transition-2);
  z-index: 4;
}
.head.active{
  top:-90px;
  position: fixed;  
  animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn {
  0% {transform: translateY(0);}
  100% {transform: translateY(100%);}
  
}

.head .container{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.header_btn_grp{
 
 display: flex;
 flex-direction: row;
 align-items: center;
 gap:20px;
 margin-left: 40px;

}
.header_btn_grp ion-icon{
  font-size: 20px;
}
.logo{
  font-family: var(--ff-rubik);
  color:var(--rich-black-fogra-29);
  font-size: 2.8rem;
  font-weight: var(--fw-700);
  letter-spacing: -2px;
}
.logo .span{
  display: inline-block;
  color:var(--deep-saffron);
  
}
.navbar{
  position: absolute;
  content: "";
  top:100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
  background-color: var(--white);
  z-index: 4;
  box-shadow: var(--shadow-2);
  overflow: hidden;
  height: 0;
  visibility: hidden;
  transition: var(--transition-2);
  padding-inline:20px;
 
}
.navbar.active{
  height: 236px;  
  visibility: visible;
}
.nav_list{
  display: flex;
  flex-direction:column;
  gap:14px;  
}
.nav_item:not(:last-child) {
  border-block-end: 1px solid hsla(0, 0%, 0%, 0.04);
 
}
.nav_item_link{
  font-family: var(--ff-rubik);
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  color:var(--rich-black-fogra-29);
  transition: var(--transition-1);
  padding: 10px 15px;
  cursor: pointer;
}
.nav_item_link:is(:hover,:focus-within){
  color:var(--deep-saffron);
}
.btn_toggle_menu.active .open,
.btn_toggle_menu .close{display: none;}

.btn_toggle_menu .open,
.btn_toggle_menu.active .close{display: block;}

.btn_toggle_menu ion-icon{
  font-size: var(--fs-2);
  margin-right: 40px;
}

.section_divider{
  position: relative;
  z-index: 1;
}
.section_divider::after,
.section_divider::before{
  position: absolute;
  content:"";
  background-position: bottom;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 15px;
  background-repeat: repeat no-repeat;
  
}
.section_divider.white::after{
  background-image: url('./assets/images/shape-white.png');
}
.section_divider.gray::after{
  background-image: url('./assets/images/shape-grey.png');
}

/*--------
HERO SECTION
-------------------*/
.hero_banner { display: none; }

.hero{
  padding-block: 145px 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.subtitle{
  font-family: var(--ff-shadows-into-light);
  color: var(--deep-saffron);
  font-size: var(--fs-2);
}
.hero_title{
  font-size: 4.2rem; 
  line-height: 1.2;
  letter-spacing: -1px;
  color:var(--champagne-pink);
  max-width: 14ch;
  padding-block-start: 20px;
  display: inline-block;
  margin: auto;
}
.hero_text{
  color:var(--champagne-pink);
  font-size: var(--fs-3);
  max-width: 44ch;
  padding-block: 20px;
  margin: auto;
}
.hero_content .btn{
 margin-block: 20px;
 margin: auto;
}

/*--------------
PROMO SECTION
--------------------------*/
.promo{
  padding-block: 40px;
  background-color: var(--isabelline);
}

.promo_item{
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  text-align: center;
  padding: 40px 30px;

  position: relative;
  transition: var(--transition-2);
  z-index: 1;
  

}
.promo_item::after{
  position: absolute;
  content: "";
  inset: 0;
  clip-path: var(--clip-path-1);
  transform-origin: bottom;
  background-color: var(--deep-saffron);
  transform: scaleY(0.3);
  transition: var(--transition-2);
  z-index: -1;
}
.promo_item:hover::after{
  clip-path: var(--clip-path-2);
  transform: scaleY(1);
}
.promo_item .promo1{
  max-width: max-content;
  aspect-ratio: 1/1;
  margin-inline: auto;
}
.promo_item:hover svg{
  fill: var(--white);
}
.promo_item svg{
  transition: var(--transition-2);
 fill:var(--deep-saffron);
 margin-inline: auto;

}
.promo_item .promo_title{
  transition: var(--transition-2);
  color:var(--rich-black-fogra-29);
  font-size: var(--fs-2);
}
.promo_item .promo_text{
  transition: var(--transition-2);
  color:var(--sonic-silver);
  font-size: var(--fs-4);
  margin-inline: auto;
  max-width: 32ch;
  margin-block-end: 15px;
}
.promo_item:hover .promo_title{  
  color:var(--white);
}
.promo_item:hover .promo_text{
  color:var(--white);
  
}
.promo_item .promo1{
    max-width: max-content;
  margin-inline: auto;
}
.promo_item img{
  padding-block: 20px;
}
.promo_card{
  min-width: 100%;
  scroll-snap-type: start;
}

/*---
ABOUT SECTION
---------------*/
.about{
  text-align: center;

}
.about_banner{
  position: relative;

}
.image_hover{
  position: absolute;
  content: "";
  top:0;
  left: 0;
  animation: hoverImg 1s infinite alternate;
}
@keyframes hoverImg{
  0% { transform: scale(1);}
  100% {transform: scale(1.05);}
}

.about_list{
  padding-block: 10px;
  place-items:center;
}
.about_item{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap:10px;
  margin-block-end: 10px;
}
.about_item ion-icon{
  --ion-icon-stroke-width:100px;
  padding: 5px;
  background-color: var(--deep-saffron);
  color:var(--white);
  border-radius: 50%;
}
.about_item h3{
  color:var(--rich-black-fogra-29);
}
.about_content .btn{margin:auto;}

/*-------
FOOD MENU SECTION
-------------------*/
.food{  
  text-align: center;
  background-color: var(--isabelline);
}
.sub_sec{
  font-family: var(--ff-rubik);
  color:var(--cinnabar);
}
.food_menu{
  display: flex;
  align-items: center;
  justify-content: center;  
  gap:5px;
  padding-block: 10px; 
}
.food_list{
  display: grid;
  gap:10px;  
  padding-block: 20px;
}
.food_list li{
  margin-block-end: 20px;
  padding: 10px;
  
}
.food_content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.food_menu li{
  padding:10px 20px;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-500);
  color:var(--rich-black-fogra-29);
}
.food_menu li.active{
  background-color: var(--deep-saffron);
  color:var(--white);
}
.food_card{
  background-color: var(--white);
  padding: 60px;
  box-shadow: var(--shadow-2);
  position: relative;
  
}
.badge{
  padding: 10px 30px;
  position: absolute;
  top:15px;
  right: 15px;
  background-color: var(--cinnabar);
  color:var(--white);
  text-transform: uppercase;
}
.food_card .title{
  font-size: var(--fs-2);
  padding-inline: 20px;
  
  line-height: 1.2;
  max-width: max-content;
}
.food_card .btn{
  opacity: 0;
}

.img_holder{
  position: relative;
  transition: var(--transition-2);
   padding-block-start: 30px;
  max-width: max-content;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
}
.img_holder .btn_food{
  position: absolute;
  content: "";
  padding: 10px;
  opacity: 0;
  transition: var(--transition-2);
  top:calc(50% + 25px);
  left:50%;
  transform: translateX(-50%);
}
.img_holder .btn{
  padding: 20px;
}

.img_holder:hover .btn_food{
  opacity: 1;
  transform: translate(-50%,-70%);
}
.btn_food:hover{
  background-color: var(--cinnabar);
}
.food_stars{
display: flex;
justify-content: center;
align-items:center;
gap:20px;
margin-block-start:10px;
}
.food_subtitle{
  color:var(--sonic-silver);
  font-size: 1.6rem;
  font-weight: var(--fw-500);
}
.stars{
  display: flex;
  gap:5px;
 color: var(--deep-saffron);

}
.stars li ion-icon{
  color: var(--deep-saffron);
  font-size: var(--fs-2);
}
.price{
  display: flex;
  align-items: center;
  justify-content: start;
  gap:10px;
}
.price_text{
  color:var(--deep-saffron);
}
.price_value{
  color:var(--cinnabar);
}

/*--
CTA SECTION
-------------------*/
.cta {
  padding: var(--section-padding);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}

.cta::before {
  bottom: auto;
  top: 0;
  background-image:url('./assets/images/shape-grey.png');
  transform: scaleY(-1);
}
.cta .title{
  color:var(--white);
}
.cta .text{
  color:var(--champagne-pink);
}
.cta .btn{
  margin: auto;
  margin-block: 20px;
}
.cta_banner{
  position: relative;
  margin-block: 40px;
  place-items: center;
}
.cta_img{
  transform: scale(1.3) translateY(60px); 
}

/*----
DELIVERY SECTION
------------------------*/
.delivery{
 padding: var(--section-padding);
  text-align: left;
}
.delivery .text{
  margin-block: 20px;
}
.delivery_banner{
  position: relative;
}
.delivery_anim{
  position: absolute;
  content:"";
  top:0;
  left:0;
 
  animation: deliveryMove 5s infinite alternate;
}
@keyframes deliveryMove{
  0% {transform: translateX(-40%);}
  100% {transform: translatete(10%);}
}

/*-----
TESTIMONIAL SECTION
------------------------*/


.testimonial{  
  text-align: center;
  background-color: var(--isabelline);
  padding-block: 40px;
}
.testimonial .subtitle{
  font-family: var(--ff-rubik);
  color:var(--cinnabar);
}
.testimonial_card{
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  padding:40px;  

}
.testimonial .text{
  margin-block-end: 20px;
}
.testimonial_item{
 min-width: 100%;
scroll-snap-type: start;
}

.testimonial_pic{
  display: flex;
  align-items: center;
  gap:10px;
}
.testimonial_pic img{
  border-radius: 50%;
  margin-right: 10px;
}
.testimonial_pic .testimonial_name{
  font-family: var(--ff-rubik);
  color:var(--rich-black-fogra-29);
}
.testimonial_quote{
  margin-block: 20px;
  text-align: left;
  font-size: var(--fs-4);
  letter-spacing: -0.5px;
  color:var(--sonic-silver);
  
}

/*----------
BANNER SECTION
------------------------*/
.banner{
 padding-block:40px;  
}
.banner_list{
  display: grid;
  gap:10px;
}
.banner_card{
  position: relative;
  overflow: hidden;
  height: 100%;
  transition: var(--transition-2);
  border: var(--shadow-2);
  margin-block-end: 10px; 
}
.banner-sm{
  height: 300px;
}
.banner-md{
  height: 240px;
}
.banner-lg{
  height: 530px;
}

.banner_img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: var(--transition-2);
}
.banner_card:hover .banner_img{
  transform: scale(1.05);
  overflow: hidden;
}
.banner_content{
  position:absolute;
  content:"";
  left:20px;
  top:50%;
  transform: translateY(-50%);
  color:var(--white);
}
.banner_content .btn{
  margin-block:20px;
}
.banner-md .banner_content{
  left:55%;
}
/*-----------
BLOG SECTION
------------------------*/

.blog{
  background-color: var(--isabelline);
 
  text-align: center;
}
.blog .title{
  font-size: var(--fs-1);
}
.blog .text{
  font-size: var(--fs-4);
}
.blog_list{
  gap:40px;
  display: grid;
}
.blog .subtitle{
  font-family: var(--ff-rubik);
  color:var(--cinnabar);
}
.blog_card{
  position: relative;
 
  background-color: var(--white);
  border:1px solid var(--shadow-2);
  box-shadow: var(--shadow-2);
  padding-block-end: 20px;
}
.blog_card .blog_banner{
  position: relative;
  aspect-ratio: 1 / 0.65;
  background-color: var(--gainsboro);
}

.blog_card img{
  margin-block-end: 10px;
}
.blog_badge{
  position: absolute;
  background-color: var(--deep-saffron);
  color:var(--white);
  padding: 10px 20px;
  top:20px;
  right: 20px;
  font-weight: var(--fw-500);
}
.blog_calendar{
  display:flex;
  gap:20px;
  margin-top:20px;
  margin-left:20px;
}
.blog_calendar li{
  display: flex;
  align-items: center;
  gap:10px;
}

.blog_calendar li ion-icon{
  --ionicon-stroke-width:40px;
  font-size: var(--fs-2);
  color:var(--deep-saffron);
}
.blog_calendar li p{
  transition: var(--transition-2);
  font-family: var(--ff-rubik);
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  color:var(--rich-black-fogra-29);
  cursor: pointer;
}
.blog_calendar li:hover p{
  color:var(--deep-saffron);
}
.blog_title{
  line-height: 1.4;
  color:var(--rich-black-fogra-29);
  margin-block: 10px;
  text-align: left;
  margin-left:20px;

}
.blog_text{
  margin-left:20px;
  text-align: left;
}
.read{
  margin-left:20px;
  display: flex;
  align-items: center;
  gap:10px;
  transition: var(--transition-2);
  margin-block:20px;
  cursor: pointer;
  font-weight: var(--fw-700);
  text-transform: uppercase;
  color:var(--rich-black-fogra-29);
}
.read:hover{
  gap:25px;
  color:var(--deep-saffron);
}

/*-------
FOOTER SECTION
--------------------------*/
.footer{
 padding: var(--section-padding);
 padding-block: 40px;
 text-align: left;
 background-position: bottom;
 background-size: contain;
 background-repeat: no-repeat;
 position: relative;
}
.footer::after{
  position: absolute;
  content: url('./assets/images/delivery-boy.svg');
  bottom: -10px;

   left :-160px;
  width: 160px;
  
  animation: runingCycle 10s linear infinite;  
}
@keyframes runingCycle{
  0%{left:-160px;}
  100% {left:100%;}
}

.footer_meta_list{
  margin-block-end: 40px;
  gap:20px;
  display: grid;
}
.footer_icons{
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-block-start: 20px;
}
.footer_icons li {
  background-color: var(--deep-saffron);
  padding: 10px;
  color:var(--white);
  font-size: var(--fs-2);
  cursor: pointer;
  transition: var(--transition-2);
}
.footer_icons li ion-icon{
  transition: var(--transition-2);
}
.footer_icons li:hover {
  background-color: var(--rich-black-fogra-29);
}

.footer_subtitle{
  font-family: var(--ff-rubik);
  color:var(--rich-black-fogra-29);
  font-size: var(--fs-2);
  position: relative;
  margin-block-end: 20px;
  max-width: max-content;
}
.footer_subtitle::after{
  position: absolute;
  background-color: var(--deep-saffron);
  content: "";
  left: calc(100% + 15px);
  top:50%;
  transform: translateY(-50%);
  height: 5px;
  width: 40px;
  border-inline-end:5px solid var(--deep-saffron);
  box-shadow:inset -5px 0 0 var(--white) ;
}

.footer_form{
   background-color: var(--white);
  padding: 30px;
  border: 1px solid var(--cultured);
  box-shadow: var(--shadow-2);
}
.input_wrapper{
  display: grid;
  gap: 10px;
  margin-block-end: 10px;
}
.input_form{
    color: var(--spanish-gray);
  font-size: var(--fs-4);
  border: 1px solid var(--cultured);
  padding: 8px 12px;
}
.textarea.input_form{
   min-height: 50px;
  max-height: 150px;
  height: 100px;
  resize: vertical;
  margin-block-end: 10px;
}

/*-------------
WEBSITE resize for screens larger then 550px
-------------------------*/

@media (min-width: 550px) {

  /*---
  REUSED FOR ALL
  -------------*/
  .container{
    max-width:550px;
   margin-inline: auto;
 
  
  }
  
  .has-scrollbar > li { min-width: calc(50% - 5px); }
  /*-HERO SECTION--
  ---------------------*/
  .hero_title{
    font-size: 5.2rem;
  }
  .nav{
    justify-content: space-around;
  }
  .header_btn_grp .btn{
    display: block;
  }
}


@media(min-width: 768px){
  
  /*reused all*/
  .container{
    max-width:720px;
    width: 100%;
    margin-inline: auto;
  }
  .has_scrollbar > li { min-width: calc(50.33% - 6.66px); }
  /*HERO SECTION*/
  .hero {
    position: relative;
    text-align: left;
    overflow: hidden;
    z-index: 1;
  }

  .hero_content > :is(*, .btn) { margin-inline: 0; }

  .hero_banner {
    display: block;
    position: absolute;
    top: calc(50% + 86px);
    transform: translateY(-50%);
    right: 50px;
    max-width: 40%;
    aspect-ratio: 1 / 0.9;
  }

  .hero-img {
    position: absolute;
    bottom: 0;
  }

  .hero::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/hero-bg-shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    pointer-events: none;
    z-index: -1;
  }

  /*-----
  FOOD MENU SECTION
  ------------------*/

  .food_list { grid-template-columns: 1fr 1fr; display: grid; }

  
  .food_card .title { text-align: left; 
  margin-left:0;}
  .img_holder .btn{
   padding:10px;
  }

  /*---
  CTA SECTION
  ----------------*/
  .cta .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:30px;
  }
  .cta{
    text-align: left;
  }
  .cta .btn{margin-inline: 0;}
  .cta_img{
    transform: scale(1.5) translate(90px, 20px);
  }
  
   /*---
  DELIVERY SECTION
  ----------------*/
  .delivery .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:30px;
  }
  .delivery{
    text-align: left;
  }
  .delivery .btn{margin-inline: 0;}
  

  /**
   * BANNER
   */

  .banner_list { grid-template-columns: repeat(4, 1fr); }

  .banner-lg {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .banner-md {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    height: 220px;
  }

  /**
   * BLOG
   */

  .blog .container p{
    margin-block-end: 10px;
    font-size: var(--fs-4);
  }
  .blog_list { grid-template-columns: 1fr 1fr; }

  
  .blog_title{
    font-size: var(--fs-3);
  }
  .blog_time{
  margin-top: 10px;
}

   /**
   * FOOTER
   */

  .input_wrapper { grid-template-columns: 1fr 1fr; }


}

@media(min-width: 992px){
   :root {

    /**
     * spacing
     */

    --section-padding: 120px;

  }


   /**
   * REUSED STYLE
   */

  .container { max-width: 960px; 
    margin-inline: auto;
  }

  .has_scrollbar > li { min-width: calc(34.33% - 6.66px); }

  .h2 { --fs-1: 4.2rem; }

  
  /**
   * HEADER
   */

  .header_btn_grp .btn_toggle_menu{ display: none; }

  .header .container { gap: 20px; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-start: auto;
   
  }

 .navbar .nav_list {
    margin-block: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .nav_item:not(:last-child) { border-block-end: none; }

  .nav_item_link {
    --fs-4: 1.8rem;
    font-weight: var(--fw-500);
    color: var(--rich-black-fogra-29);
    letter-spacing: -0.5px;
  }

   /**
   * HERO
   */

  .hero {
    min-height: 660px;
    display: grid;
    align-items: center;
    
  }

 .hero .subtitle{
  font-size: 4rem;
 }

  .hero_title {
  font-size: 5.2rem;
    letter-spacing: -2.5px;
  }

  .hero_text { font-size: var(--fs-2); }

  .hero_banner {
    max-width: 45%;
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }

  .hero-img-bg { transform: scale(1.2) translate(20px, -20px); }

   /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }


  
  /**
   * FOOD MENU
   */

  .food_list { grid-template-columns: repeat(3, 1fr); 
 }


.food_card :is(.wrapper, .price_wrapper) { justify-content: flex-start; }


  /**
   * CTA
   */

  .cta .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

    .cta_img { transform: scale(1.7) translate(20px, 40px); }
      .cta_banner .image_hover { left: -70px; top:-20px; }

      /**
   * BLOG
   */

  .blog_list { grid-template-columns: repeat(3, 1fr); }
  .blog_card{
    width: 100%;
  }

  .blog_card .card_title { --fs-3: 1.2rem; }
 

   /**
   * FOOTER
   */

  .footer .footer_meta_list { 
      display: grid;
     gap:20px;
    
    grid-template-columns:repeat(2,1fr) }

  .footer-form { margin-block-start: -170px; }
}


@media(min-width:1200px){
  /*reused stuff*/
  .container{
    max-width: 1150px;
    margin-inline: auto;
  }
  .has_scrollbar > li { min-width: calc(25.33% - 6.66px); }

  /*hero section*/
  .hero{min-height: 770px;}
}